.error {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  
  .link {
    color: blue;
    text-decoration: underline;
    transition: color 250ms linear;
  }
  
  .link:hover {
    color: rgb(113, 245, 101);
  }